body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .contact {
  background-image: url("./assets/bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
} */

@font-face {
  font-family: "Medium";
  src: local("BR Firma Medium"), url("./font/BR Firma Medium.otf") format("truetype");
}

@font-face {
  font-family: "Bold";
  src: local("BR Firma Bold"), url("./font/BR Firma Bold.otf") format("truetype");
}

@font-face {
  font-family: "SemiBold";
  src: local("BR Firma SemiBold"), url("./font/BR Firma SemiBold.otf") format("truetype");
}

@font-face {
  font-family: "Light";
  src: local("BR Firma Light"), url("./font/BR Firma Light.otf") format("truetype");
}

@font-face {
  font-family: "Regular";
  src: local("BR Firma Regular"), url("./font/BR Firma Regular.otf") format("truetype");
}

.font-medium {
  font-family: "Medium";
}

.font-bold {
  font-family: "Bold";
}

.font-semibold {
  font-family: "SemiBold";
}

.font-light {
  font-family: "Light";
}

.font-regular {
  font-family: "Regular";
}

@layer components {
  .container {
    @apply flex flex-col justify-center items-center gap-2 
  }
  .heading {
    @apply text-off-black text-[22px] font-bold
  }
  .text {
    @apply text-[16px] text-off-black text-center font-medium
  }
}
